.container-gifts {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Organiza itens em coluna */
    padding: 0; /* Adiciona algum espaçamento ao redor */
}

.gift-items {
    display: flex;
    align-items: center; /* Alinha checkbox e texto na mesma linha */
    margin: 10px 0; /* Espaçamento entre os itens */
}

.checkbox-gift  {
    width: 20px;
    margin-right: 8px; /* Espaçamento entre o checkbox e o texto */
}

button {
    width: 100px;
    background: #34331b;
}

p{
    font-size: 1rem;
    margin: 0;
}